# ==========================================
# 1. C++ Y CMAKE (Tu base optimizada)
# ==========================================
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.so.*
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Directorios de compilación
build/
Build/
build-*/
out/

# Archivos generados por CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

# Caché y dependencias
Testing/
.cache/
vcpkg_installed/

# ==========================================
# 2. PYTHON Y FLASK (Backend)
# ==========================================
# Entornos virtuales
venv/
env/
.venv/

# Archivos cacheados compilados
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# 3. BASES DE DATOS Y ARCHIVOS PESADOS (ETL)
# ==========================================
*.sqlite
*.sqlite3
*.db
*.csv
*.xlsx

# ==========================================
# 4. SEGURIDAD Y CREDENCIALES
# ==========================================
.env
.env.local
secret*.txt

# ==========================================
# 5. EDITORES DE CÓDIGO Y SISTEMA OPERATIVO
# ==========================================
# Visual Studio Code
.vscode/
*.code-workspace

# Windows / Mac
Thumbs.db
.DS_Store